<h1>本日の勤務者一覧</h1>

<% @attendances.each do |attendance| %>
  <%= attendance.customer.name %>
  <%= attendance.start.strftime('%H:%M') %>

  <% unless attendance.end.nil? %>
   <%= attendance.end.strftime('%H:%M') %>
  <% end %>

  <%= attendance.location %>
<% end %>