<div class="container">

  <div class="text-center p-5">
   <% if flash[:notice] %>
     <div class="alert alert-success" role="alert">
     <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
   <% end %>
   <p><%= image_tag 'logo.jpg', size: "300x300" %></p>
   <% if customer_signed_in? %>
    <div class="text p-3"><%= link_to "打刻をする", new_attendance_path, class: 'button' %></div>

   <% else %>
    <a><%= link_to "ユーザーログイン",  new_customer_session_path, class: 'button-user-new' %></a>
   <% end %>
  </div>

</div>